{% extends "@Core/Master/BusinessDocumentView.html.twig" %}

{% block extras %}
<div class="row pb-3">
	<div class="col-12 text-center">
    <button id="printTicketBtn" type="button" class="btn btn-sm btn-primary" {{ (thisView.model.primaryColumnValue()) ? '' : 'disabled' }}>
      <i class="fas fa-print" aria-hidden="true"></i>
      <span class="d-none d-sm-inline-block">&nbsp;Imprimir Ticket</span>
    </button>
	</div>
</div>

<script type="text/javascript">
$( "#printTicketBtn" ).on( "click", function() {
    showPrintDialog();
});

function showPrintDialog() {
    $.ajax({
        type: 'GET',
        url: '{{ asset('PrintTicket') }}?documento={{ thisView.model.modelClassName() }}&code={{ thisView.model.primaryColumnValue() }}',
        success: function(data) {
          bootbox.dialog({
              message: data,
              onEscape: true,
              backdrop: true,
          })
        }
    })
};
</script>
{% endblock %}
