<div class="row">
    <div class="col-12 text-center">
       <h1><i class="fas fa-print" aria-hidden="true"></i></h1>
       <h4><span> {{ i18n.trans('printing') }}</span></h4>
       <h4><span>{{ i18n.trans(fsc.document) }}</span></h4>
    </div>      
</div>	
<div class="d-none">
	<img src='http://localhost:10080?documento={{ fsc.document }}' alt='remote-printer'/>
</div>