{% extends 'Master/MenuTemplate.html.twig' %}

{% block body %}
    <h1>Configuraci&oacute;n del ticket</h1>
    <div class="row">
        <div class="col-12">
            <form id="formEditAlbaranCliente" method="post" enctype="multipart/form-data">
            <input type="hidden" name="action" value="edit">
            <div class="card">
                <div class="card-body">
                    <div class="form-row">
                        <input type="hidden" name="id" value="1">
                        <div class="col-md-2">
                            <div class="form-group">
                                <label>N&uacute;mero de caracteres por linea.</label>
                                {% set linelength = appSettings.get('ticket', 'linelength', 50) %}
                                <input type="text" name="linelength" value="{{ linelength }}" class="form-control" required="">
                            </div>
                        </div>
                        <div class="col-md-8">
                            <div class="form-group">
                                <label>Texto al pie del ticket.</label>
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"><i class="fas fa-comment"></i></span>
                                    </div>
                                    {% set footertext = appSettings.get('ticket', 'footertext') %}
                                    <input type="text" name="footertext" value="{{ footertext }}" class="form-control">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="form-group form-check">
                                <input type="checkbox" name="enabled" value="TRUE" id="checkbox0" class="form-check-input" checked="">
                                <label for="checkbox0">Activado</label>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 text-right">                                                            
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <button type="button" class="btn btn-sm btn-danger" onclick="this.form.submit();">
                                <i class="fas fa-trash-alt fa-fw" aria-hidden="true"></i>
                                <span class="d-none d-sm-inline-block">Eliminar</span>
                            </button>
                        </div>
                        <div class="col text-right">
                            <button class="btn btn-sm btn-secondary" type="reset">
                                <i class="fas fa-undo fa-fw" aria-hidden="true"></i>
                                <span class="d-none d-sm-inline-block">Deshacer</span>
                            </button>
                            <button class="btn btn-sm btn-primary" type="submit">
                                <i class="fas fa-save fa-fw" aria-hidden="true"></i>
                                <span class="d-none d-sm-inline-block">Guardar</span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            </form>
        </div>
    </div>
{% endblock %}
