{% extends 'Master/MenuTemplate.html.twig' %}

{% block body %}
<div class="container-fluid">
    <h1 class="h3 d-none d-md-inline-block">
        Configuraci&oacute;n del ticket
        <i class="fas fa-print fa-sm" aria-hidden="true"></i>        
    </h1> 
    <div class="row">
        <div class="col-lg-2 d-none d-lg-inline-block">
            <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                <a class="nav-link active" id="PillSettings" data-toggle="pill" href="#SettingsTab" role="tab" aria-controls="SettingsTab" aria-selected="true">
                    <i class="fas fa-cogs fa-sm" aria-hidden="true"></i> General
                </a>
                <a class="nav-link" id="PillHeaderLines" data-toggle="pill" href="#HeaderLinesTab" role="tab" aria-controls="SettingsTab" aria-selected="false">
                   <i class="fas fa-grip-lines fa-sm"></i> Lineas Encabezado
                </a>
                <a class="nav-link" id="PillFooterLines" data-toggle="pill" href="#FooterLinesTab" role="tab" aria-controls="SettingsTab" aria-selected="false">
                   <i class="fas fa-grip-lines fa-sm"></i> Lineas Pie
                </a>
            </div>
        </div>
        <div class="col-lg-10">
            <div class="tab-content" id="TabContent">
                <div class="tab-pane fade show active" id="SettingsTab" role="tabpanel" aria-labelledby="SettingsTab">
                    {% include 'Block/TabTicketSettings.html.twig' %}
                </div>
                <div class="tab-pane fade" id="HeaderLinesTab" role="tabpanel" aria-labelledby="HeaderLinesTab">
                    {% include 'Block/TabTicketHeader.html.twig' %}
                </div>
                <div class="tab-pane fade" id="FooterLinesTab" role="tabpanel" aria-labelledby="FooterLinesTab">
                    {% include 'Block/TabTicketFooter.html.twig' %}
                </div>
            </div>
        </div> 
    </div>
</div>
{% endblock %}
